PORT=4545
MONGODB_CONNECTION_STRING=xxxxxxxxx
CLOUDINARY_CLOUD_NAME=xxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxx

EMAIL_HOST=xxxxxxxxx
EMAIL_PORT=xxxxxxxxx
EMAIL_SENDER=xxxxxxxxx
EMAIL_USER=xxxxxxxxx
EMAIL_PASS=xxxxxxxxx

JWT_SIGN_SECRET=xxxxxxxxx
JWT_DURATION=10m

GOOGLE_CLIENT_ID=xxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxx

FRONTEND_HOST=http://localhost:5173